In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [11]:
df = pd.read_csv('historical_country_mexico_indicator_gasoline_prices_.csv')
df = df[['DateTime', 'Close']]
df['DateTime'] = pd.to_datetime(df['DateTime']).dt.date
df.head()

     DateTime  Close
0  1992-12-31   0.39
1  1995-12-31   0.32
2  1998-12-31   0.36
3  2000-12-31   0.61
4  2002-12-31   0.62